.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border: 1px solid red;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  border: 1px solid red;
}

.socialLinks {
  cursor: pointer;
}

.logo {
  border: 1px solid red;
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.links {
  border: 1px solid red;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }

  .links {
    font-size: 18px;
    gap: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: left;
  }

  .socials {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }
}
